
.container{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6rem;
    background-image: url("../../assets/details.png");
    background-size: cover;
}

.container1 {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

.container2 {
    width: 300px;
    display: flex;
    padding-left: 50px;
    /* justify-content: center; */
    /* align-items: center; */
}
.container2>img{
    width: 150px;
    margin: 30px
}

@media (max-width: 700px){
    .container{
        flex-direction: column;
        justify-content: space-evenly;
        height: 420px;
    }
    .container1 {
        width: 100%;
    }
    .container2{
        display: none;
    }
}